In [66]:
import pandas as pd
import numpy as np
import dateutil


station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines = False)
weather = pd.read_csv('weather.csv')

b'Skipping line 50794: expected 12 fields, saw 20\n'

## What is the average trip duration for a borrowed bicycle?

In [67]:
trip['tripduration'].mean()

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [68]:
most_common_years =trip['birthyear'].value_counts().idxmax()
most_common_age = 2020-most_common_years
int(most_common_age)

33

## Given all the weather data here, find the average precipitation per month, and the median precipitation.?

In [117]:
weather_month =weather.groupby(weather.Date.dt.month)['Precipitation_In'].mean()
weather_month

Date
1     0.162167
2     0.085273
3     0.120833
4     0.050690
5     0.054667
6     0.068103
7     0.059833
8     0.062333
9     0.087000
10    0.185167
11    0.164138
12    0.151833
Name: Precipitation_In, dtype: float64

In [123]:
df = weather[['Date', 'Precipitation_In']].groupby([weather['Date'].dt.month]).mean()
df

      Precipitation_In
Date
1             0.162167
2             0.085273
3             0.120833
4             0.050690
5             0.054667
6             0.068103
7             0.059833
8             0.062333
9             0.087000
10            0.185167
11            0.164138
12            0.151833

Date
2014-01-11    0.00
2014-01-12    0.00
2014-02-11    0.11
2014-02-12    0.00
2014-03-11    0.24
              ...
2016-12-04    0.44
2016-12-05    0.00
2016-12-06    0.00
2016-12-07    0.00
2016-12-08    0.00
Name: Precipitation_In, Length: 689, dtype: float64

## What’s the average number of bikes at a given bike station?

In [119]:
avg_num_bikes = station['install_dockcount'].mean()
avg_num_bikes

17.586206896551722

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

## Come up with 3 more questions that can be answered with this data set.?