In [52]:
import pandas as pd
import numpy as np

df = pd.read_csv('vgsales.csv')
most_Golbal = df[ df ['Global_Sales'] > 0.01]

In [53]:
most_Golbal

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
15975,15978,You Don't Know Jack,PC,1995.0,Misc,Vivendi Games,0.01,0.00,0.00,0.00,0.02
15976,15979,Ouran Koukou Host Bu,PS2,2007.0,Adventure,Idea Factory,0.00,0.00,0.02,0.00,0.02
15977,15980,Lotus Challenge,GC,2004.0,Racing,Ignition Entertainment,0.01,0.00,0.00,0.00,0.02
15978,15981,Meiji Toukyou Renka: Twilight Kiss,PSP,2015.0,Action,Broccoli,0.00,0.00,0.02,0.00,0.02
15979,15982,Xblaze: Lost Memories,PS3,2015.0,Adventure,Arc System Works,0.01,0.00,0.00,0.00,0.02

## Which company is the most common video game publisher?

In [54]:
publisher=df['Publisher'].value_counts().idxmax()
publisher

'Electronic Arts'

## What’s the most common platform?

In [55]:
platform=df['Platform'].value_counts().idxmax()
platform

'DS'

## What about the most common genre?

In [56]:
genre=df['Genre'].value_counts().idxmax()
genre

'Action'

## What are the top 20 highest grossing games?

In [57]:
top20 = most_Golbal.sort_values('Global_Sales',ascending=False).head(20)
top20[['Name','Global_Sales']]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, what’s the median?

In [104]:
North_American_Median = most_Golbal['NA_Sales'].median(axis = 0)
get_the_middle = df[df['NA_Sales'] == North_American_Median]

mid_game = len(get_the_middle)//2
star= mid_game-5
arr_game=[]
for i in range(10):
    arr_game.append(get_the_middle.iloc[star]['Name'])
    star+=1
arr_game

['Spider-Man: Edge of Time',
 'Turok: Evolution',
 'Deadpool',
 'GT Advance 2: Rally Racing',
 "A Witch's Tale",
 'Nickelodeon Dance',
 'Phantasy Star Collection',
 "LEGO Knights' Kingdom",
 'Family Game Night 4: The Game Show',
 'NBA Jam 2002']

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [62]:
standard_deviation = df['NA_Sales'].std()
mean = df['NA_Sales'].mean()
top_seles = df['NA_Sales'].iloc[0]
(top_seles-mean) / standard_deviation

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [66]:

wii_sales = df[ df['Platform']=='Wii' ].Global_Sales
not_wii_sales = df[ df['Platform']!='Wii' ].Global_Sales
print(wii_sales.mean())
print(not_wii_sales.mean())

0.6994037735849057
0.5233896418516336